body {
  background-color: #013E75;
  overflow: 0;
  
  /* background-color: #F7C400; */
}

.fundo {
  background-color: #F7C400;
  
}

.corBotao {
  background-color: #013E75;
}

.logo {
  width: 300px;

}

.btn:hover {
  background-color: #064e8d;
}